@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div style="text-align:center">
    <h2 style="text-align:center;color:darkblue">Welcome to Ops Intel Home Page</h2>
    <img src="~/images1/microsoft-azure-logo.jpg" />
</div>
